html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 20px;
  background-color: lavender;
  color: purple;
  font-family: 'Ysabeau', sans-serif;
  line-height: 1.3;
}

